<!-- Navbar goes here -->
<nav class="nav-extended">
  <div class="nav-wrapper navbar blue-grey darken-3">
    <a href="#!" class="brand-logo"><i class="material-icons">blur_on</i>BookMeter</a>
  </div>
  <div class="nav-content blue-grey darken-3">
    <%= image_tag 'user_avatar.png', alt: 'ユーザー', class: "nav_title user_avatar" %>
    <span class="nav_title username">ユーザーの名前</span>
    <a href="#" class="nav_title user_setting">Mypage</a>
    <ul class="right hide-on-med-and-down">
      <div class="row search">
        <div class="col s12">
            <div class="input-field col s12">
              <i class="material-icons prefix">search</i>
              <input type="text" id="autocomplete-input" class="autocomplete">
              <label for="autocomplete-input" class="white-text">Search books</label>
            </div>
        </div>
      </div>
    </ul>
  </div>
</nav>

<!-- Page Layout here -->
<div class="row">
  <div class="col s2 left_content">
    <!-- Grey navigation panel -->
    <div class="section">
      <a href="#!" class="brand-logo"><i class="material-icons icon small">home</i>Home</a>
    </div>
    <div class="section">
      <a href="#!" class="brand-logo"><i class="material-icons icon">local_library</i>本棚</a>
    </div>
    <div class="section">
      <a href="#!" class="brand-logo"><i class="material-icons icon">list</i>ランキング</a>
    </div>
  </div>

  <div class="col s10">
    <!-- 右下のメインコンテンツページ -->
    <!-- Teal page content  -->
      <div class="row main_card">
       <div class="col s12 m5">
         <div class="card-panel big_card white">
           <span class="blue-grey-text text-darken-2">I am a very simple card. I am good at containing small bits of information.
           I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
           </span>
         </div>
       </div>
     </div>

     <div class="row main_card">
      <div class="col s5 m5">
        <div class="card-panel second_card white">
          <span class="blue-grey-text text-darken-2">I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
          </span>
        </div>
      </div>
    </div>

    <div class="row main_card">
     <div class="col s5 m5 right1_card">
       <div class="card-panel third_card white">
         <span class="blue-grey-text text-darken-2">I am a very simple card. I am good at containing small bits of information.
         I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
         </span>
       </div>
     </div>
   </div>
  </div>

</div>
