<!-- Navbar goes here -->
<nav class="nav-extended">
  <div class="nav-wrapper navbar teal accent-3">
    <a href="#!" class="brand-logo"><i class="large, material-icons">blur_on</i>BookMeter</a>
  </div>
  <div class="nav-content teal accent-3">
    <span class="nav-title">ユーザーの名前<br>コメント</span>
    <ul class="right hide-on-med-and-down">
      <div class="row search">
        <div class="col s12">
            <div class="input-field col s12">
              <i class="material-icons prefix">search</i>
              <input type="text" id="autocomplete-input" class="autocomplete">
              <label for="autocomplete-input" class="white-text">Search books</label>
            </div>
        </div>
      </div>
    </ul>
  </div>
</nav>

<!-- Page Layout here -->
<div class="row">

  <div class="col s3">
    <!-- Grey navigation panel -->
  </div>

  <div class="col s9">
    <!-- Teal page content  -->
      <div class="row main_card">
       <div class="col s12 m5">
         <div class="card-panel teal">
           <span class="white-text">I am a very simple card. I am good at containing small bits of information.
           I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
           </span>
         </div>
       </div>
     </div>
  </div>

</div>
